.inner{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    position: relative;
    top:50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--color-border);
    border-radius: var(--border-radius);
}
.top{
    display: flex;
    flex-direction: column;
    gap:1em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--color-surface);
}
.title{
    display: flex;
    justify-content: space-between;
}
.controls{
    display: flex;
    justify-content: center;
    gap:10px;
    background-color: var(--color-surface);
    padding: 3px;
}
.controls button{
    width: 50%;
    padding: 0.25em 0;
    border-radius: calc(var(--border-radius) + 4);
    font-weight: bold;
    color: var(--color-text-secondary);
    outline: none;
    border: 1px solid var(--color-surface);
    background: var(--color-surface);
    
}
button:hover{
    cursor: pointer;
}
.active{
    background-color: var(--color-accent) !important;
    color: var(--color-text-primary) !important;
}

.mid{
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: visible;
}

.mid .list-item:first-child{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
}
.mid .list-item:last-child{
    border: none;
}

.list-item{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid var(--color-surface);
    color: var(--color-text-secondary);

}
.list-item .item-left{
    display: flex;
    align-items: center;
    gap:5px;
    font-weight: 600;
}

.item-left input[type="checkbox"]{
    appearance: none;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid var(--color-border);
    background-color: #2c3952;
}

.item-left input[type="checkbox"]:hover{
    background-color: var(--color-accent-light);
}

.item-left input[type="checkbox"]:checked{
    background-color: var(--color-accent);
}

.last{
    width: 100%;
    padding: 0.5em 1em;
    border-top: 1px solid var(--color-border);
    background-color: var(--color-bg);
}

.last p{
    color: var(--color-error);
    float: left;
    margin-top: 10px;
}

.last button{
    text-transform: uppercase;
    background-color: var(--color-accent);
    border-radius: var(--border-radius);
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid var(--color-border);
    padding: 1em;
    transition: background-color 0.3s ease;
    cursor: pointer;
    float: right;
}
.last button:hover{
    background-color: var(--color-accent-light);
}